# Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup


# Crash logs
crash.log
crash.*.log

# CLI configuration files
terraform.rc

# OS files
.DS_Store
